* {
  margin: 0;
  font-family: 'Work Sans';
}

/* header */

header {
  background-color: rgba(255, 144, 14, 0.1);
}

/* heading text design */
.nav-heading-text {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #131313;
  margin-left: 228px;
  margin-top: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* link flex */

nav ul {
  display: flex;
  margin-right: 240px;
  margin-top: 63px;
}

/* link design */
nav ul li {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;

  list-style-type: none;
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
}
nav ul li a:visited {
  color: #424242;
}

/* heading-txt-section */

.heading-txt-section {
  text-align: center;
  margin-top: 102px;
  margin-bottom: 50px;
}

/* heading-main-txt */

.heading-main-txt {
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #131313;
}

/* heading-txt-section p txt */

.heading-txt-section p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
}

/* heading-txt-section explore now button */
.heading-txt-section button {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  background-color: #ff900e;
  border-radius: 8px;
  padding: 20px 25px;
  border: none;
}

.image-container {
  text-align: center;
}
.image-container img {
  padding-bottom: 45px;
}

/* main */

.main {
  display: flex;
  margin: 85px 301px;
  align-items: center;
}

.img-section {
  width: 50%;
  /* display: flex; */
}

.f-img-group {
  display: inline-block;
  margin-bottom: 24px;
}

.first-img {
  margin-right: 24px;
}

/* main-section-txt */

.main-section-txt {
  width: 50%;
  margin-left: 73px;
}

/* main p txt */

.main-section-txt div p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-top: 24px;
  margin-bottom: 32px;
}

.main-txt-first {
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
  color: #727272;
}

.main-txt-second {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #131313;
}

.main-txt-last {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #ff900e;
}

/* main-btn */

.main-btn {
  padding: 21px 24px;
  background: #ff900e;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

/* second-main-section */

.second-main-section {
  display: flex;
  margin: 130px 240px;
  justify-content: space-between;
  position: relative;
}

.second-main-section-txt {
  width: 50%;
}

.second-main-section-txt h1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #131313;
  margin-bottom: 24px;
}

.second-main-section-txt p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-bottom: 30px;
}

/* second-main-section-box */

.second-main-section-box {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 30px 42px;
  margin-bottom: 20px;
  margin-right: 54px;
}

.second-main-section-box h6 {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #131313;
}

.second-main-section-box p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-top: 10px;
}

/* second-img-container */

.second-img-container {
  width: 50%;
}

.second-img-container img {
  width: 100%;
}

/* second-section-btn */

.second-section-btn {
  font-weight: 700;
  font-size: 65px;
  line-height: 50px;
  color: #ffffff;
  background: #ff900e;
  border-radius: 8px;
  position: absolute;
  padding: 20px 20px;
  border: none;
  bottom: 0;
  left: 30%;
}

/* facts-section */

.facts-section {
  margin-left: 240px;
}

.facts-section h1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #131313;
  margin-bottom: 24px;
}

.facts-section p {
  font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #727272;
margin-bottom: 108px;
}
